body {
    font-family: 'Arial', sans-serif;
    background-color: #00bbff!important;
    color: #333;
    text-align: center;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #ff0000;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}